h2{
    text-align: center;
    background-color: aquamarine;
    color: rgb(60, 92, 173);
}
strong{
    color: red;
}
span{
    color:azure;
    background-color: rgb(255, 176, 176);
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(113, 114, 92);
}
::marker{
    color: rgb(60, 143, 128);
}